
h1{
  color: #ffc107 !important;
}
.about-page {
  .mission-card {
    background: linear-gradient(135deg, #938989 0%, #ebedee 100%);
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
  }

  .vision-card {
    background: linear-gradient(135deg, #fff1eb 0%, #ebedee 100%);
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
  }

  .stats {
    background: linear-gradient(135deg, #232526, #414345);
    color: #fff;
    border-radius: 20px;
  }
  h2{
    color: #ffc107;
  }
  .Passionate{
      color: white !important;
    }
  .team-card {
    background-color: #414345;
    color: white;
    padding-top: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
    
    
    .team-img-wrap {
      display: flex;
      justify-content: center;
      margin-top: -50px;
      margin-bottom: 15px;
    }
    .team-img {
      width: 120px;
      height: 120px;
      object-fit: cover;
      border: 5px solid #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
